.controlBar {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  z-index: 5000;
  left: 0px;
  bottom: 0px;
  background: transparent;
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.circleBtn:hover {
  background-color: greenyellow;
  color: #222;
}
.slideImg {
  position: relative;
  overflow: scroll;
}
.slideImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}
.zoomBar {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 40px;
  z-index: 5000;
}
.zoomBar .main-btn-group {
  background: #fff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 35%);
}
.zoomBar .main-btn-group .btn {
  color: #2a2b2f;
  background: #fff;
  position: relative;
  width: 100%;
  height: 40px;
  top: 0;
  background: 0 0;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

input[type="range"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.start {
  opacity: 0;
  transition: opacity 0.5s;
}
.end {
  opacity: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
